*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


.cell{
    width:70px;
    height:70px;
    line-height: 75px;
    border: 2px solid rgb(5, 5, 73);
    font-size: 45px;
    cursor:pointer;
    
}

#gameDiv{
    
    text-align: center;
    font-family:"permanent marker", cursive;
    background:linear-gradient(to bottom, rgb(67, 172, 238), rgb(13, 58, 131));
    padding: 30px;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 10px 20px;
    box-shadow: 0 0  10px 3px black;
    min-width:200px;
    overflow: hidden;

}

#statusText{

    padding: 20px 0;
}
.title{
    padding:10px;
}

.cont
{   

    display: flex;
    margin: 0 auto;
    width: 210px;
    height: 210px;
    box-shadow: 0 0 3px 1px black;
}
#restartBtn{
    font-family: "permanent marker", cursive;
    font-weight: bolder;
    padding: 15px;
    background:none;
    border:2px solid black;
    box-shadow: 0 0 2px 1px black;
}
#cellContainer{

display: grid;
grid-template-columns: repeat(3, auto);
width:210px;



margin: auto;
}